@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{

    font-family: 'Raleway', sans-serif;
}

.App{
    background: cornflowerblue;
    height: 100vh;
}

.App-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color:White;
    font-size: 40px;
    
}

.buttons{
    border:none;
    background: white;
    height: 40px;
    width:200px;
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
}